* {
    color: rgb(141, 120, 92);
}

h3 {
    font-size: 25px;
}

header {
    text-align: center;
    border: 1px solid #ddd;
}

main {
    text-align: center;
}

.form {
    width: fit-content;
    margin: auto;
    width: 75%;
    margin: 0 auto;
}


label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-bottom: 15px;
    margin-right: 35px;
}

input {
    border: none;
    background: rgb(245, 246, 247);
    height: 30px;
}





.form tr {
    margin-bottom: 15px;
}

.form th {
    text-align: left;
    width: 32%;
}

.form td {
    text-align: left;
}

.formbutton button {
    border: none;
    background: rgb(141, 120, 92);
    color: #fff;
    width: 20%;
    height: 30px;
    margin-top: 35px;
}

.tablebutton {
    display: flex;
}